body {
  background-color: rgb(11, 0, 73);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  color: goldenrod;
  font-size: xxx-large;
}
.basketIcon {
  position: fixed;
  display: block;
  top: 0px;
  right: 1%;
  transition: 0.5s;
}
.basketIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.catContainer {
  border: solid rgb(24, 11, 97) 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#image {
  width: 400px;
}
#image-small {
  width: 100px;
}
.catInfo {
  display: flex;
  background-color: whitesmoke;
  font-size: x-large;
  font-weight: bold;
  justify-content: space-between;
  width: 400px;
}
#catName {
  margin: 10px;
  margin-left: 20px;
}
#catPrice {
  display: flex;
  margin: 10px;
  width: fit-content;
}

button {
  margin: 10px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
.listItems {
  list-style: none;
  font-weight: bold;
}
.listItems li button {
  right: 1%;
}

.checkoutBasket {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  background-color: #484fa8;
  border-radius: 5px;
  border: 2px solid goldenrod;
  padding: 50px;  
}
.checkoutBasket li button{
  align-self:flex-end;
  background-color:slategrey;
}
.itemInfo {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}
.checkoutInfo{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}
.checkoutButton{
  background-color: goldenrod;
}
