body{
  background-color: rgb(152, 190, 114);
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle{
  color: rgb(231, 229, 74);
}
.basketIcon{
  position:fixed;
    display: block;
    top: 0px;
    right: 1%;
}
.basketIcon:hover{
  cursor: pointer;
  filter:drop-shadow(0em 0em 0.3em rgb(15, 4, 73));
   transition: 0.5s;
}
.catContainer{
  width: 50px;
  border: solid black 2px;
}