body{
  background-color: rgb(152, 190, 114);
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle{
  color: rgb(231, 229, 74);
  font-size: xxx-large;
}
.basketIcon{
  position:fixed;
    display: block;
    top: 0px;
    right: 1%;
}
.basketIcon:hover{
  cursor: pointer;
  filter:drop-shadow(0em 0em 0.3em rgb(15, 4, 73));
   transition: 0.5s;
}
.catContainer{
  border: solid black 2px;
  margin:10px;
  
}
#image{
  width:300px;
}
.catInfo{
  display:flex;
  background-color: whitesmoke;
  font-size: x-large;
  font-weight: bold;
  justify-content: space-between;
}
#catName{
  margin:10px;
  margin-left: 20px;

}
#catPrice{
  display: flex;
  margin:10px;
  width:fit-content;
}
button{
  margin:10px;
  font-size: 13px;
  cursor: pointer;
}
